
.section_resenas {
  background-image: url("/asset/vistaSanJose-transformed.jpeg");
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.reviews-container {
  font-size: 1em;
  border-radius: 5px;
  padding: 15px;
  width: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: rgba(60, 69, 77, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.reviews-container h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: center;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-form input,
.review-form textarea,
.review-form button,
.review-form select {
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

#reviewName,
#reviewText,
#reviewStars {
  background-color: rgba(85, 94, 107, 0.3);
  border: solid #f5a300 1px;
  color: #ffffff;
}

#reviewName::placeholder,
#reviewText::placeholder {
  color: #d0d0d0;
}

.review-form button {
  background-color: #f5a300;
  color: #fff;
  transition: 0.3s;
  font-size: 1em;
  font-weight: 600;
}

.review-form button:hover {
  background-color: #d95a00;
}